h1{
    color: red;
}
.botonFacebook{
    background-image: linear-gradient(blue, red);
    width: 150px;
    height: 150px;
    transition: all 1s;
}
.botonFacebook:hover{
    background-image: linear-gradient(yellow, green);
    transform: scale(1);
}